@model Github.Models.UserView
@{
    ViewBag.Title = "SearchUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchUser</h2>

<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, htmlAttributes: new { @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()
        @Html.TextBox("searchTerm", string.Empty, new { @placeholder = "Enter User name", @class = "form-control mb-2 mr-sm-2" });
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    }
    <div class="row">
        <div class="col-md-12 text-center">
            @if (Model?.Name != null)
            {
                <div class="row">
                    <div class="col-md-6">
                        @if (!string.IsNullOrEmpty(Model.Location))
                        {
                            <div>
                                <img alt="@Model.Name" title="@Model.Name" src="@Model.Avatar_url" width="60" height="60" />
                            </div>
                        }
                        <h4>@Model.Name</h4>
                        @if (!string.IsNullOrEmpty(Model.Location))
                        {
                            <p>@Model.Location</p>
                        }
                    </div>
                    <div class="col-md-6 text-left">
                        <h3>Top 5 Repository</h3>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Repo Name</th>
                                    <th>StarGazer Count</th>
                                </tr>
                                @foreach (var repo in Model.Repositories)
                                {
                                    <tr>
                                        <td>
                                            @repo.name
                                        </td>
                                        <td>
                                            @repo.stargazers_count
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            }
            else
            {
                <h4>No result.</h4>
            }
        </div>
    </div>
</div>
